name: Deploy

on:
  workflow_dispatch:
    inputs:
      polyenv:
        description: 'Polymer environment to deploy to'
        required: true
        default: devnet
        type: choice
        options:
          - mainnet
          - shadownet
          - testnet
          - devnet
      version:
        description: 'The version of contracts to deploy'
        default: 'latest'
        type: string
        required: false

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-22.04-16core
    environment: ${{ inputs.polyenv }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Deploy
        run: |
          # provide the keypairs via these temp files for easier testing
          # we use the dev keypair for our testing (and private) environments and
          # the main keypair for our public environments (mainnet/testnet)
          if [ "$POLYMER_ENV" = 'devnet' ] || [ "$POLYMER_ENV" = 'shadownet' ]; then
              echo -n '${{ secrets.PROGRAM_KEYPAIR_DEVNET }}' > "$PROGRAM_KEYPAIR_FILE"
              export TYPE='dev'
          else
              echo -n '${{ secrets.PROGRAM_KEYPAIR_MAIN }}' > "$PROGRAM_KEYPAIR_FILE"
              export TYPE='main'
          fi
          # the KEYPAIR secret is used for signing the deployment transactions. Note that
          # even though there's a per env secret, devnet and testnet share the same keypair
          # as do shadownet and mainnet
          echo -n '${{ secrets.KEYPAIR }}' > "$KEYPAIR_FILE"
          ./scripts/deploy.sh
        env:
          POLYMER_ENV: ${{ inputs.polyenv }}
          VERSION: ${{ inputs.version }}
          KEYPAIR_FILE: /tmp/keypair.json
          PROGRAM_KEYPAIR_FILE: /tmp/program-keypair.json
          GH_TOKEN: ${{ github.token }}

      # always remove the temp file
      - name: Clean up
        if: always()
        run: rm -f /tmp/keypair.json /tmp/program-keypair.json
